#container {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    column-gap: 0.5em;
    row-gap: 30px;
    background: black;
    font-size: 30px;
}

img {
    width: 100%;
}

#title {
    grid-column:1 / span 3;
    grid-row: 1fr; 
    background: white;
    text-align: center;
}

#main {
    grid-column: 1 / span 3; 
    grid-row: 3;
    background: white;
}

#menu {
    grid-column: 1 ;
    grid-row: 2;
    background: white;
    margin-top: 30px;
}

#login {
    grid-column: 2; 
    grid-row: 2;
    background: white;
}
#profile{
grid-column:2;
grid-row:2;
background: white;
}
#profile button{
    font-size: 20px;
    text-align: center;
    padding: 80px;
    background-color: black;
    color: white;
    
}

#profile img {
 
}

#social{
grid-column:3;
grid-row:2;
background: white;
}

img {
    max-width: 100%
}